 /* reset css */
 body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
 }

 *,
 *:before,
 *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   margin: 0px;
   padding: 0px;
 }

 ul,
 ol,
 li {
   list-style: none;
   margin: 0px;
   padding: 0px;
 }

 a,
 a:hover,
 a:focus {
   text-decoration: none;
   outline: none;
 }

 input {
   padding: 0;
 }

 img {
   width: 100%;
   height: 100%;
   display: block;
 }

 /* basic setting */
 $step-undone: #AFB1BD;
 $step-done: #2A2A2A;
 $btn-next: #F67599;
 $form-label: #808080;
 $pale-grey: #F0F0F5;
 $sizes: (
   25: 25%,
   50: 50%,
   75: 75%,
   100: 100%
 );

 :root {
   --main-bg: white;
   --main-fc: #2A2A2A;
   --input-border: #4a4a4a;
   --input-fc: #999;
   --cart-button: #f0f0f5;
   --step-undone: #AFB1BD;
   --step-done: #2A2A2A;
   --btn-next: #F67599;
   --form-label: #808080;
   --pale-grey: #F0F0F5;
   --shoppingcart-bg: white;
   --footer-bg: #E5E5E5;
 }

 [data-theme="dark"] {
   --main-bg: black;
   --main-fc: #fff;
   --input-border: #5E5E5E;
   --input-fc: #FFF;
   --cart-button: #808080;
   --step-undone: #fff;
   --step-done: #333333;
   --shoppingcart-bg: #383838;
   --footer-bg: #333333;
 }

 %input-style {
   height: 40px;
   border: 1px solid var(--input-border);
   border-radius: 5px;
   padding-left: 8px;
   font-size: 12px;
   color: var(--input-fc);
 }

 %cart-button-style {
   width: 26px;
   height: 27px;
   position: relative;
   z-index: 0;
   border-radius: 50%;
   background-color: var(--cart-button);
 }

 %cart-button-content {
   width: 100%;
   height: 100%;
   line-height: 100%;
   position: absolute;
   z-index: -1;
   text-align: center;
   color: black;
   font-weight: 500;
   font-size: 24px;
 }

 %control-button-style {
   width: 100%;
   height: 46px;
   display: inline-block;
   border-radius: 8px;
   border: 0 solid var(--btn-next);
   background-color: var(--btn-next);
   color: white;
 }

 @each $prop,
 $abbrev in (width: w, height: h) {

   @each $num,
   $val in $sizes {
     .#{$abbrev}-#{$num} {
       #{$prop}: $val;
     }
   }
 }

 $spacer: 1rem;
 $spacers: (
   0: 0,
   1: ($spacer * 0.25),
   2: ($spacer * 0.5),
   3: ($spacer * 0.75),
   4: $spacer,
   5: ($spacer * 1.25),
   6: ($spacer * 1.5),
   7: ($spacer * 1.75),
   8: ($spacer * 2)
 );

 @each $prop,
 $abbrev in (margin: m, padding: p) {

   @each $num,
   $val in $spacers {
     .#{$abbrev}-#{$num} {
       #{$prop}: $val;
     }

     .#{$abbrev}t-#{$num} {
       #{$prop}-top: $val;
     }

     .#{$abbrev}r-#{$num} {
       #{$prop}-right: $val;
     }

     .#{$abbrev}b-#{$num} {
       #{$prop}-bottom: $val;
     }

     .#{$abbrev}l-#{$num} {
       #{$prop}-left: $val;
     }

     .#{$abbrev}x-#{$num} {
       #{$prop}-right: $val;
       #{$prop}-left: $val;
     }

     .#{$abbrev}y-#{$num} {
       #{$prop}-top: $val;
       #{$prop}-bottom: $val;
     }
   }
 }

 @mixin getStepNums($num) {
   @for $i from 1 through $num {
     &:nth-child(#{$i}) .stepper__panel__step--circle::after {
       content: "#{$i}";
     }
   }
 }

 @mixin alignCenter($margin-top: -13px) {
   width: 100%;
   position: absolute;
   top: 50%;
   right: 0;
   margin-top: $margin-top;
 }

 /* display */
 html {
   font-size: 16px;
   height: 100%;
 }

 body {
   height: 100%;
   background-color: var(--main-bg);
   color: var(--main-fc);
   font-family: 'Noto Sans TC', sans-serif;
 }

 .d-none {
   display: none;
 }

 .d-inline {
   display: inline;
 }

 .d-inline-block {
   display: inline-block;
 }

 .d-block {
   display: block;
 }

 .d-flex {
   display: flex;
 }

 .flex-column {
   flex-direction: column;
 }

 .justify-content-start {
   justify-content: flex-start;
 }

 .justify-content-end {
   justify-content: flex-end;
 }

 .justify-content-center {
   justify-content: center;
 }

 .justify-content-between {
   justify-content: space-between;
 }

 .justify-content-around {
   justify-content: space-around;
 }

 .align-content-start {
   align-content: flex-start;
 }

 .align-content-end {
   align-content: flex-end;
 }

 .align-content-center {
   align-content: center;
 }

 .align-items-start {
   align-items: flex-start;
 }

 .align-items-end {
   align-items: flex-end;
 }

 .align-items-center {
   align-items: center;
 }

 .text-center {
   text-align: center;
 }

 .text-right {
   text-align: right;
 }

 .text-left {
   text-align: left;
 }

 .cursor-pointer {
   cursor: pointer;
 }

 .v-hidden {
   visibility: hidden;
 }



 /* header */
 header {
   height: 56px;
   left: 0;
   top: 0;

   .navbar {
     width: 100%;
     height: 100%;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;

     &__logo {
       width: 136px;
       height: 24px;
     }

     &__label--toggle {
       width: 20px;
       height: 15px;
       position: absolute;
       top: 16px;
       left: 15px;
       cursor: pointer;
     }

     &__input--toggle {
       display: none;

       &:checked~.nav {
         display: block;
         transform: scale(1, 1);
       }

       &:checked~.nav * {
         transition: opacity .2s ease-out .15s;
         opacity: 1;
       }
     }

     .nav {
       position: absolute;
       top: 100%;
       width: 100%;
       z-index: 999;
       background-color: var(--main-bg);
       transform: scale(1, 0);
       transform-origin: top;
       transition: display .2s ease-out;

       &__list {
         text-align: center;
         font-size: 1rem;
         font-weight: 500;
       }

       &__link {
         color: var(--main-fc);
       }

       &__item {
         height: 4rem;
         line-height: 1.5rem;
         opacity: 0;
       }

       &__icons {
         display: flex;
         justify-content: center;
         opacity: 0;

         &--search {
           width: 21px;
           height: 21px;
           margin-right: 40px;
           cursor: pointer;
         }

         &--cart {
           width: 21px;
           height: 22px;
           margin-right: 40px;
           cursor: pointer;
         }

         &--moon {
           width: 24px;
           height: 23px;
           cursor: pointer;


         }
       }


     }

     .nav__icons--pc {
       display: none;
     }
   }
 }

 #nav__darkmode--toggle {
   display: none;
 }

 #darkmode__input--toggle--pc {
   display: none;
 }


 /* main */
 main {
   .container {
     width: 92%;
     margin: 0 auto;
   }

   .stepper__panel {
     width: 100%;
     height: 2rem;
     margin-top: 24px;

     &--container {
       margin: 0 auto;
       height: 100%;
       display: flex;
       flex-flow: row nowrap;
     }

     &__step {
       position: relative;
       width: 100%;
       margin: 0 auto;
       text-align: center;
       @include getStepNums(3);

       &--circle {
         margin: 0 auto;
         height: 32px;
         width: 32px;
         background-color: var(--main-bg);
         border: 1px solid $step-undone;
         border-radius: 50%;
         color: $step-undone;

         &::after {
           @include alignCenter();
         }

         &.left {
           position: absolute;
           left: 0;
         }

         &.right {
           position: absolute;
           right: 0;
         }
       }

       .active,
       .checked {
         background-color: var(--step-done);
       }

       .checked::after {
         content: "\2714" !important;
       }

       &--label {
         display: none;
       }

       .connect-line {
         position: absolute;
         top: 16px;
         display: block;
         height: 2px;
         width: 60%;
         background-color: var(--pale-grey);

         &.before {
           left: -50%;
         }

         &.after {
           right: 50%;
         }
       }

     }


   }

   .form__panel {
     flex: 1;
     display: flex;
     flex-direction: column;

     .form {
       .part-title {
         font-weight: 700;
         font-size: 24px;
       }

       &__row {
         height: 64px;
         margin-bottom: 24px;
         display: flex;
         flex-flow: column nowrap;

         &--double {
           display: grid;
           width: 100%;
           grid-template-rows: 16px 40px;
           grid-auto-flow: column;
           grid-gap: 8px 30px;
         }

         label {
           margin-bottom: 8px;
           display: block;
           line-height: 16px;
           color: $form-label;
           font-size: 8px;
           font-weight: 700;
         }

         input {
           @extend %input-style;
           cursor: pointer;

           &[type="month"] {}
         }

         select {
           @extend %input-style;
           -webkit-appearance: none;
           width: 100%;
           cursor: pointer;
         }

         .select-wrapper {
           position: relative;
           z-index: 0;

           &::after {
             position: absolute;
             z-index: 0;
             right: 8px;
             top: 50%;
             transform: translateY(-50%);
             content: "";
             border-style: solid;
             border-width: 5px 4.5px 0 4.5px;
             border-color: var(--main-fc) transparent transparent transparent;
           }
         }
       }

       &__btn--shipway {
         height: 100%;
         display: flex;
         position: relative;
         border: 1px solid $pale-grey;
         border-radius: 4px;



         .radio-wrapper {
           display: flex;
         }

         input {
           width: 20px;
           height: 20px;
           padding: 0;
           margin: 0 20px;
           align-self: center;
           //  position: absolute;
           //  top: 50%;
           //  transform: translateY(-50%);

           &[type="radio"] {
             -webkit-appearance: none;
             border-radius: 50%;
             cursor: pointer;

             &:checked {
               box-shadow: inset 0 0 0 6px var(--main-fc);
             }
           }
         }

         &-description {
           position: relative;
           width: 100%;
           height: 100%;

           .ship-method {
             position: absolute;
             top: 20%;
             line-height: 20px;
             font-weight: 400;
             font-size: 14px;
           }

           .ship-time {
             position: absolute;
             bottom: 20%;
             line-height: 16px;
             font-weight: 400;
             font-size: 12px;
           }

           .fw-700 {
             font-weight: 700;
           }
         }

         &-fee {
           position: absolute;
           right: 20px;
           top: 15%;
           font-weight: 400;
           font-size: 12px;
           line-height: 16px;
         }

       }

       .ship-active {
         border-color: var(--main-fc);
       }
     }
   }

   .shopping-cart__panel {
     border: 1px solid var(--pale-grey);
     border-radius: 8px;
     padding: 16px;
     background-color: var(--shoppingcart-bg);

     &--title {
       display: none;
     }

     &--items {
       width: 100%;
     }

     &--item {
       width: 100%;
       height: 102px;
       margin-bottom: 16px;
       display: flex;
       flex-flow: row nowrap;
       justify-content: space-between;

       .img-wrapper {
         height: 100%;
         width: 100px;
       }

       .shopping-cart-image {
         object-fit: cover;
         border-radius: 5px;
       }

       &-right {
         height: 100%;
         display: flex;
         flex-flow: column nowrap;
         align-items: flex-end;

         .cart-item-title {
           margin-bottom: 16px;
           font-size: 16px;
           font-weight: 400;
           line-height: 24px;
         }

         .cart-item-buttons-wrapper {
           height: 27px;
           width: 116px;
           margin-bottom: 16px;
           display: flex;
           align-items: center;
           justify-content: space-between;

           .cart-item-button1 {
             @extend %cart-button-style;

             &::after {
               content: "+";
               @extend %cart-button-content;
             }
           }

           .cart-item-button2 {
             @extend %cart-button-style;

             &::after {
               content: "–";
               @extend %cart-button-content;
             }
           }

           .cart-item-number {
             line-height: 17px;
             font-weight: 500;
             font-size: 14px;
           }
         }

         .cart-item-price {
           line-height: 22px;
           font-weight: 700;
           font-size: 16px;
         }
       }

     }

     .shipping-fee-wrapper {
       width: 100%;
       height: 37px;
       border-top: 1px solid #F0F0F5;
       margin-bottom: 16px;
       display: flex;
       justify-content: space-between;
       align-items: flex-end;

       .shipping-fee-title {
         line-height: 20px;
         font-weight: 400;
         font-size: 14px;
         color: var(--main-fc);
       }

       .shipping-fee-amount {
         line-height: 17px;
         font-weight: 700;
         font-size: 14px;
         color: var(--main-fc);
       }
     }

     .total-fee-wrapper {
       width: 100%;
       height: 37px;
       border-top: 1px solid #F0F0F5;
       margin-bottom: 16px;
       display: flex;
       justify-content: space-between;
       align-items: flex-end;

       .total-fee-title {
         line-height: 20px;
         font-weight: 400;
         font-size: 14px;
         color: var(--main-fc);
       }

       .total-fee-amount {
         line-height: 17px;
         font-weight: 700;
         font-size: 14px;
         color: var(--main-fc);
       }
     }

   }

   .line {
     height: 1px;
     margin-top: 32px;
     margin-bottom: 24px;
     background-color: $pale-grey ;
   }

   .control__panel {
     &--next {
       width: 100%;
       height: 46px;
       margin-bottom: 40px;
       display: inline-block;
       border-radius: 8px;
       border: 0 solid $btn-next;
       background-color: #F67599;
       color: white;
     }

     &--back {
       @extend %control-button-style;
       background-color: #fff;
       color: black;
       padding-left: 0;
       text-align: left;
     }

     .arrow {
       margin-left: 13.5px;
       display: inline-block;
       font-size: 20px;
     }
   }


 }

 /* footer */

 footer {
   display: none;
 }


 @media screen and (min-width: 375px) {

   /* header */
   header {
     height: 60px;

     .navbar {
       width: 100%;
       display: grid;
       grid-template-columns: 2fr repeat(12, 1fr) 2fr;
       grid-gap: 30px;

       &__brand {
         grid-column: 8 / 9;
       }

       &__label--toggle {
         display: none;
       }

       .nav {
         all: unset;
         width: 100%;
         position: relative;
         grid-column: 2 / 6;

         &__list {
           height: 100%;
           display: grid;
           grid-auto-flow: column;
           grid-gap: 2rem;
         }

         &__item {
           height: fit-content;
           width: 64px;
           text-align: left;
           opacity: 1;

           &:nth-child(1) {
             width: 32px;
           }

           &:nth-child(2) {
             width: 32px;
           }
         }

         &__icons {
           display: none;
         }
       }

       .nav__icons--pc {
         display: block;
         display: flex;
         grid-column: 13;

         &--search {
           width: 24px;
           height: 24px;
           margin-right: 30px;
         }

         &--cart {
           width: 24px;
           height: 24px;
           margin-right: 30px;
         }

         &--moon {
           width: 24px;
           height: 23px;


         }
       }
     }
   }

   #darkmode__input--toggle--pc {
     display: none;
   }

   /* main */
   main {
     .container {
       width: 100%;
       display: grid;
       grid-template-columns: 2fr repeat(6, 1fr) 136px repeat(3, 1fr) 132px 1fr 2fr;
       grid-gap: 0 30px;
     }

     .main-title {
       margin-bottom: 48px;
       grid-column: 2/13;
     }

     .main__content-wrapper {
       grid-template-rows: 24px 348px 50px 46px;
       grid-template-areas: ". stepper stepper stepper stepper stepper stepper stepper cart cart cart cart cart ."
         ". form form form form form form  form cart cart cart cart cart ."
         ". line line line line line line  line cart cart cart cart cart ."
         ". control control control control control control control cart cart cart cart cart .";
     }

     .stepper__panel {
       grid-area: stepper;
       height: 1.5rem;
       margin-top: 0;

       &__step {
         line-height: 1.5rem;

         &--pc {
           height: 100%;

           &.center {
             display: flex;
             margin: 0 auto;
             width: fit-content;
           }
         }

         &--circle {
           height: 24px;
           width: 24px;

           &::after {
             font-size: 8px;
             @include alignCenter()
           }

           &.middle {
             margin: 0 8px 0 0;
             position: relative;
           }

           &.right {
             right: 72px;
           }
         }

         &--label {
           display: block;
         }

         .address {
           position: absolute;
           left: 32px;
           font-weight: 400;
         }

         .shipway {
           font-weight: 400;
         }

         .payinfo {
           position: absolute;
           right: 0;
           font-weight: 400;
         }

         .connect-line {
           top: 12px;

           &.before {
             left: -43%;
           }

           &.after {
             right: 57%;
           }
         }
       }
     }

     .shopping-cart__panel {
       grid-area: cart;
       padding: 16px 24px;

       &--title {
         display: block;
         margin-bottom: 32px;
       }

       &--item {
         margin-bottom: 32px;
       }

       .shipping-fee-wrapper {
         margin-bottom: 32px;
       }

       .total-fee-wrapper {
         margin-bottom: 32px;

       }

     }

     .form__panel {
       grid-area: form;

       .form {

         .form-wrapper {
           display: grid;
           width: 100%;
           grid-auto-flow: column;
           grid-gap: 8px 30px;
         }

       }
     }

     .line {
       grid-area: line;
       height: 2px;
       margin-top: 24px;
       margin-bottom: 24px;
     }

     .control__panel {
       grid-area: control;
       justify-content: space-between;

       &--next {
         width: 174px;
         margin-bottom: 0;
       }

       &--back {
         width: 174px;
       }
     }
   }

   /* footer */

   .footer {
     display: block;
     background-color: var(--footer-bg);
     margin-top: 120px;
     font-weight: 400;
     font-size: 16px;
     color: #808080;
     overflow: scroll;
     min-width: fit-content;


     &--container {
       width: 100%;
       height: 284px;
       display: grid;
       grid-template-columns: 2fr 1fr 136px repeat(9, 1fr) 132px 2fr;
       grid-gap: 0 30px;
       grid-template-areas: ". . logo . service. about about . info . . follow ."
       ;
       justify-items: end;

     }


     &__logo--wrapper {
       grid-area: logo;
       width: 168px;
       height: 31px;
       align-self: center;

       img {
         width: 176px;
       }
     }

     &__part--service {
       grid-area: service;
       width: 8vw;
       //  grid-column: 5/6;
       margin-top: 64px;
     }

     &__part--about {
       grid-area: about;
       width: 8vw;
       //  grid-column: 7/8;

       margin-top: 64px;
       //  background-color: #E5E5E5;
     }

     &__part--info {
       grid-area: info;
       width: 7vw;
       //  grid-column: 9/10;
       margin-top: 64px;
       //  background-color: #E5E5E5;
     }

     &__part--follow {
       grid-area: follow;
       width: 15vw;
       //  grid-column: 12/13;
       margin-top: 64px;
       //  background-color: #E5E5E5;

       .social-icon-wrapper {
         width: 104px;
         height: 24px;
         margin-top: 8px;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 16px;

         .social-icon {
           width: 24px;
           height: 24px;
         }
       }
     }

     &__part--title {
       margin-bottom: 24px;
       font-weight: 700;
       font-size: 24px;
       line-height: 24px;
       color: var(--main-fc);
     }
   }

 }